*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background: #efefef;
}

h1
{
    font-family: system-ui;
    font-size:3rem;
    color:rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    font-weight: 100;
    letter-spacing: 10px;
    position: relative;
}

h1::before
{
    position: absolute;
    top:-40%;
    left:15%;
    content:'DIGITAL CLOCK';
    width:max-content;
    font-size:1rem;
}


h1::after
{
    position: absolute;
    bottom:-40%;
    left:15%;
    content:'DIGITAL CLOCK';
    width:max-content;
    font-size:1rem;

}

@media (max-width:350px)
{
    h1
    {
        font-size:2rem;
    }    
}
